node_modules
/dist
.DS_Store
.env
.env.local
/public/favicon-16.png
/public/favicon-32.png
/public/apple-touch-icon.png
/public/android-chrome-192.png
/public/android-chrome-512.png
/public/favicon-16-v4.png
/public/favicon-32-v4.png
/public/apple-touch-icon-v4.png
