/* Drop your self-hosted .woff2 files into public/fonts and update these @font-face rules. */
@font-face {
  font-family: 'NullCal Sans';
  src: url('/fonts/NullCalSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NullCal Sans';
  src: url('/fonts/NullCalSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NullCal Mono';
  src: url('/fonts/NullCalMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
